<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SBSS</property>
		<!-- lp2: nome schema -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="connection.pool_size">3</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Mapeamento -->
		<mapping class="java.Avaliacao"/>
		<mapping class="java.Clinica"/>
		<mapping class="java.Endereco"/>
		<mapping class="java.Equipamento"/>
		<mapping class="java.Especialidade"/>
		<mapping class="java.Exames"/>
		<mapping class="java.Farmacia"/>
		<mapping class="java.PlanoSaude"/>
		<mapping class="java.Profissional"/>
		<mapping class="java.Medicamento"/>
	</session-factory>
</hibernate-configuration>